@media (max-width: 650px) {
  .footer {
    padding: 33px 0;
    background: linear-gradient(8deg, #060606 -57.7%, #53708a 101.68%);

    &__block {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__middle {
      order: 1;

      &-logo {
        width: 83px;
        height: 45px;
        margin-bottom: 18px;
      }

      &-p {
        margin-bottom: 37px;
      }
    }

    &__left {
      color: $rgb-color;
      order: 2;

      &-p {
        margin-bottom: 18px;
      }

      &-email {
        color: $rgb-color;
      }
    }

    &__right {
      color: $rgb-color;
      order: 3;

      &-p {
        margin-top: 18px;
      }
    }
  }
}
