// Fonts
$font-headings: "OswaldB";
$font-btn: "OswaldR";
$font-logo: "SourceSansB";
$font-main: "SourceSansR";

// Colors
$white: #fff;
$grey: #666;
$dark-blue: #41576b;
$rgb-color: rgba(255, 255, 255, 0.59);

// Font size
$small-size: 24px;
$large-size: 48px;
